<div class="modals">

    <div  id="modal1" class="modalIndex">
        <div class="modalIndex__content">
            
            <h3 class=" modalIndex__minititle title__fs18regular">Создать профиль</h3>
            
            <div class="modalIndex__minititle title__fs16">
                Логин
            </div>

            <input id="login" class=" modalIndex__modalWin" type="text" name="username" placeholder=" Логин">

            
            <div class="modalIndex__minititle title__fs16">
                Почта
            </div>
            <input id="email" class="modalIndex__modalWin" type="text" name="email" placeholder=" Email ">

            
            <div class="modalIndex__minititle title__fs16">
                Пароль
            </div>
            <input id="password"  class="modalIndex__modalWin" type="password" name="password" placeholder=" Пароль">

            <div class=" modalIndex__minititle title__fs16">
                Повторите пароль
            </div>
            <input id= "confirmPassword" class="modalIndex__modalWin" type="password" name="password" placeholder=" Пароль">
                
            <div>
                <input class="modalIndex__checkbox modalIndex__minititle" type="checkbox"> <div class="modalIndex__minititle">Согласен(а) с политикой</div>  
            </div>
            
            <button id="btnNext" class="button  modalIndex__button title__fs20bold" >Создать аккаунт</button>
        </div>
    </div>

    <div id="modal2" class="modalIndex">
        <div class="modalIndex__content">
        <div>
            <h3 class="modalIndex__minititle title__fs18regular"> Создать профиль</h3>
            <p class="modalIndex__minititle title__fs16" > Выберите тип профиля, который вы хотели бы cоздать</p>

        </div>
            
        <div class="modalIndex__modalTwo">
            <button class=" modalIndex__btn title title__fs16" > Экстраверт </button>
            <button class=" modalIndex__btn title title__fs16" > Амбиветр </button>
            <button class=" modalIndex__btn title title__fs16" > Интроверт </button>
        </div>
            

            <button id="btnClose"  class="button modalIndex__button title__fs20bold"> создать аккаунт</button>
        </div>
    </div>


</div>

